<link rel="stylesheet" href="/stylesheets/header.css">

<div class="header">
    <div class="header-text-box">
        <h1>Stephanie Da Cruz</h1>
        <br>
        <p class="header-text">Full Stack Developer</p>
        <p class="header-text">Websites + Software + Graphic Design</p>
        <br>
        <p class="header-sub-text">Born and raised in Rhode Island</p>
        <br>
        <p class="header-sub-text">Graduated from Brown University in 2023</p>
        <br>
        <p class="header-sub-text">Currently based in Philadelphia, PA</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="50vw" height="100%" viewBox="0 0 100 100" fill="none" overflow="hidden" ;> 
        <circle cx="70" cy="70" r="80" style="fill: var(--brightest-color-3);"/>
        <circle cx="90" cy="80" r="60" style="fill: var(--brightest-color-2);"/>
        <circle cx="110" cy="90" r="40" style="fill: var(--brightest-color-1);"/>
        <circle cx="120" cy="100" r="20" style="fill: var(--brightest-color-0);"/>
        <image href="/images/silhouette.svg" width="100" height="100" x="5" y="8" />
    </svg>
</div>